/*This is a comment, use * and / to use it! */
body {
    font-family: 'DotGothic16', sans-serif;
    
    background-image: linear-gradient(
    to right,
    #173753,
    #1b4353
    );
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.FAQ{
    text-align: center;
    font-size: 40px;
    display: none;
    justify-content: center;
}

.faq{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 30px;
    display: none;
    justify-content: center;
}

::selection{
    color: black;
    background-color: white;
    /*The text will be black and the highlight will be white*/
}::-moz-selection {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #6ba1f8;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #2892D7;
    color: #60a5fa;
    padding: 8px 12px;
    display: inline-block;
}

p {
    margin-bottom: 15px;
}

footer{
    text-align: center;
    justify-self: center;
    padding: 15px;
    color: #3b82f6;
    font-family: 'DotGothic16', sans-serif;
    max-width: 200px;
    margin-top: 40px;
}

button{
    font-family: 'DotGothic16', sans-serif;
    border-radius: 15px;
    font-size: 1em;
    border-color: #071c2c;
    background-color: #1b4353;
    padding: 5px;
}button:hover{
    background-color: #14303b;
    color: #000000;
}

/*Nav Bar Components*/

/*HTML switch button version*/
.SwitchHtml {
    color: #00f5e0; 
    background-color: #0b2a43;
    max-width: 30%;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 0px;
    margin: auto;
    font-size: 3em;
    text-align: center;
    cursor: wait;
}.SwitchHtml:hover{
    background-color: #071c2c;
}
/*end of it*/

/* Nav bar components */

a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
    background-color: #2892d7;
    transition: 0.2s;
    font-size: 2em;
}

a:hover {
    background-color: #1d70a2;
    color: #fff;
}

ul{
    list-style-type: none;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar {
    list-style: none;
    display: inline-flex;
}

/*End of Nav bar Components*/

/*User Dropdown menu styling*/

.UserSettings{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 70px;
    z-index: 2;
    font-family: 'DotGothic16', sans-serif;
    background-color: #a3a3a3;
    color: #024450;
    font-size: 12px;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}


.UserPfp img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.UserPfp {
    border: 10px;
}

.DropdownMenu{
    display: flex;
    font-size: 7px;
    flex-direction: column;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease;
}

.DropdownMenu a{
    padding: 6px;
    margin-bottom: 4px;
    cursor:pointer;
}

.UserSettings:hover .DropdownMenu{
    max-height: 100px;
}

.UserSettings:hover{
    
    background-color: #7c7c7c;
}

/*harry styles*/

/*Mobile responsive and grid layout*/
@media (max-width: 600px) {
    .container {
        padding: 20px;
        margin-top: 10px;
        border-width: 2px;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    .skills {
        gap: 8px;
    }
    
    .skill-tag {
        padding: 6px 12px;
        font-size: 0.9em;
    }
    
}
