
button{
    font-family: 'DotGothic16', sans-serif;
    border-radius: 15px;
    font-size: 1em;
    border-color: #071c2c;
    background-color: #1b4353;
    padding: 5px;
}button:hover{
    background-color: #14303b;
    color: #000000;
}
.UserSettings{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 70px;
    z-index: 2;
    font-family: 'DotGothic16', sans-serif;
    background-color: #a3a3a3;
    color: #024450;
    font-size: 12px;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}


.UserPfp img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.UserPfp {
    border: 10px;
}

.DropdownMenu{
    display: flex;
    font-size: 7px;
    flex-direction: column;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease;
}

.DropdownMenu a{
    padding: 6px;
    margin-bottom: 4px;
    cursor:pointer;
}

.UserSettings:hover .DropdownMenu{
    max-height: 100px;
}

.UserSettings:hover{
    background-color: #7c7c7c;
}

