/*This is a comment, use * and / to use it! */
body {
    font-family: 'DotGothic16', sans-serif;
    background-image: radial-gradient(
    #230041ff,
    #000000,
    #002438ff,
    #000000,
    #00192bff);
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.product{
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 0.2s;
    box-shadow: -1px 2px 22px 6px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 2px 22px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 2px 22px 6px rgba(0,0,0,1);
}

::selection{
    color: black;
    background-color: white;
    /*The text will be black and the highlight will be white*/
}::-moz-selection {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/*Glitch Effect*/
.glitch {
    border-radius: 20px;
    position: relative;
    color: rgb(254, 254, 254);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: glitch 3s infinite;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 2px;
    text-shadow: -2px 0 red;
    clip: rect(0, 900px, 0, 0);
    animation: glitch-before 4s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    clip: rect(0, 900px, 0, 0);
    animation: glitch-after 3.6s infinite linear alternate-reverse;
}/**/

/*Overall mask*/
@keyframes glitch {
    0%   { transform: none; }
    20%  { transform: skew(0.5deg); }
    40%  { transform: skew(-0.5deg); }
    60%  { transform: translate(1px, -1px); }
    80%  { transform: skew(0.3deg); }
    100% { transform: none; }
}

/*Red mask layer*/
@keyframes glitch-before {
    0%   { clip: rect(10px, 9999px, 50px, 0); }
    20%  { clip: rect(60px, 9999px, 80px, 0); }
    40%  { clip: rect(30px, 9999px, 60px, 0); }
    60%  { clip: rect(5px, 9998px, 40px, 0); }
    80%  { clip: rect(80px, 9998px, 100px, 0); }
    100% { clip: rect(20px, 9999px, 70px, 0); }
}

/*Blue mask layer*/
@keyframes glitch-after {
    0%   { clip: rect(40px, 9999px, 90px, 0); }
    20%  { clip: rect(10px, 9999px, 40px, 0); }
    40%  { clip: rect(70px, 9999px, 100px, 0); }
    60%  { clip: rect(20px, 9999px, 60px, 0); }
    80%  { clip: rect(50px, 9999px, 80px, 0); }
    100% { clip: rect(0px, 9999px, 30px, 0); }
}

/*ENd of glitch effect*/

h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #6ba1f8;
}

h2 {
    font-size: 5em;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #00548b;
    color: #60a5fa;
    padding: 8px 12px;
    display: inline-block;
}

p {
    margin-bottom: 15px;
}

footer{
    text-align: center;
    justify-self: center;
    padding: 15px;
    color: #3b82f6;
    font-family: 'DotGothic16', sans-serif;
    max-width: 200px;
    margin-top: 40px;
}

button{
    font-family: 'DotGothic16', sans-serif;
    border-radius: 15px;
    font-size: 1em;
    border-color: #071c2c;
    background-color: #21708f;
    padding: 5px;
}
button:hover{
    background-color: #14303b;
    color: #000000;
}

/*Nav Bar Components*/

a {
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
    background-color: #2892d7;
    transition: 0.2s;
}

a:hover {
    background-color: #1d70a2;
    color: #fff;
}

ul{
    list-style-type: none;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
}

li{
    float: left;
}

li a {
    font-size: 2em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar {
    list-style: none;
    display: inline-flex;
}

/*End of Nav bar Components*/

/*User Dropdown menu styling*/

.UserSettings{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 110px;
    z-index: 2;
    font-family: 'DotGothic16', sans-serif;
    background-color: #a3a3a3;
    color: #024450;
    font-size: 12px;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: -1px 2px 22px 6px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 2px 22px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 2px 22px 6px rgba(0,0,0,1);
}


.UserPfp img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.UserPfp {
    border: 10px;
}

.DropdownMenu{
    display: flex;
    font-size: 7px;
    flex-direction: column;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease;
}

.DropdownMenu a{
    padding: 6px;
    margin-bottom: 4px;
    cursor:pointer;
}

.UserSettings:hover .DropdownMenu{
    max-height: 110px;
}

.UserSettings:hover{
    background-color: #7c7c7c;
}

/*harry styles*/

/*Mobile responsive and grid layout*/
@media (max-width: 600px) {
    .container {
        padding: 20px;
        margin-top: 10px;
        border-width: 2px;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    .skills {
        gap: 8px;
    }
    
    .skill-tag {
        padding: 6px 12px;
        font-size: 0.9em;
    }
    
}

#Shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* horizontal centering */
    align-items: flex-start;
    gap: 25px;
    padding: 30px;
}

.Shop-Favourites{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* horizontal centering */
    align-items: flex-start;
    gap: 25px;
    padding: 30px;
}

.product {
    margin-top: 20px;
    width: 100%;
    border-radius: 21px;
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
    overflow-wrap: 20px;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    /* Image HAS to be a square or it looks weird with the rounding effects */
    border-radius: 12px;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px #0008;
    margin-bottom: 8px;
    text-shadow: 
    0 0 5px #4db8ff,
    0 0 10px #4db8ff,
    0 0 15px #4db8ff;
}

.description {
    font-size: 1.5rem;
    font-weight: bold;
    color: #39ff14;
    margin-bottom: 12px;
    text-align: center;
    max-width: 70%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.cost-section {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
}

/* This is the color schemes for the each symbol of the currencies */
/* Also the size gets gradually bigger as the value of the product increases */
.Bitz {
    font-size: 1.5em;
    color: #ff3b4a;
    text-shadow:
    0 0 4px  #ff5a6a,
    0 0 8px  #ff2b3a,
    0 0 14px #ff0f1f,
    0 0 22px #ff0012;
}

.Bytz {
    font-size: 1.6em;
    color: #ff7b3b;
    text-shadow:
    0 0 4px  #ffa56b,
    0 0 8px  #ff7e3a,
    0 0 14px #ff5c00,
    0 0 22px #ff3c00;
}

.Kilobytz {
    font-size: 1.7em;
    color: #ffe74a;
    text-shadow:
    0 0 4px  #fff27a,
    0 0 8px  #ffe23a,
    0 0 14px #ffcf00,
    0 0 22px #ffb700;
}

.Megabytz {
    font-size: 1.8em;
    color: #5aff5a;
    text-shadow:
    0 0 4px  #8aff8a,
    0 0 8px  #34ff34,
    0 0 14px #00ff00,
    0 0 22px #00d900;
}

.Gigabytz {
    font-size: 1.9em;
    color: #4ab6ff;
    text-shadow:
    0 0 4px  #7ad0ff,
    0 0 8px  #3a9eff,
    0 0 14px #007bff,
    0 0 22px #005bff;
}

.Hackabytz {
    font-size: 2em;
    color: #c45aff;
    text-shadow:
    0 0 4px  #d98aff,
    0 0 8px  #c23aff,
    0 0 14px #a500ff,
    0 0 22px #7e00ff;
}

.label {
    margin-left: auto;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 600;
    white-space: nowrap;
}

.insufficient-funds {
    text-shadow: none;/*took a while to fix this error lol*/
    border-radius: 10px;
    color: #ff3131;
}

.insufficient-funds:hover{
    cursor: pointer;
    font-weight: bold;
    transition: ease 0.3s;
    color: #fd3434;
    text-shadow:
    0 0 22px #ff1a3a,
    0 0 14px #ff2a5a,
    0 0 8px #ff4a7a,
    0 0 4px #ff7a95;
}

.canafford {
    text-shadow: none;
    border-radius: 10px;
    color: #00ff44;
    font-weight: bold;
}

.canafford:hover{
    cursor: pointer;
    text-shadow:
    0 0 4px #00ff44,
    0 0 8px #6aff6a,
    0 0 14px #00ff00,
    0 0 22px #00ff00;
}


.NetWorth{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    color: rgb(255, 153, 0);
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 14px;
    z-index: 1000;
    margin-top: 20px;
    
}.NetWorth:hover {
    cursor: none;
    transition: ease 0.3s;
    text-shadow:
    0 0 8px #ff9900,
    0 0 16px #ffb733,
    0 0 28px #ffcc66,
    0 0 40px #ffdd88;
}
